

# Grafana
GRAFANA_QUESTDB_PASSWORD=quest
GF_AUTH_ANONYMOUS_ENABLED=false
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
GF_AUTH_ANONYMOUS_ORG_NAME=Main Org.
GF_AUTH_ANONYMOUS_ALLOW_EMBEDDING=true
GF_SECURITY_ALLOW_EMBEDDING=true

# QuestDB
QDB_PG_USER=admin
QDB_PG_PASSWORD=quest
QDB_PG_NAME=qdb
QDB_PG_HOST=docker_host_ip_address
QDB_PG_PORT=8812



# Chatbot
ANTHROPIC_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


# secret key

APP_SECRET_KEY=your_very_secure_secret_key


# domain
DOMAIN=domain.tld



# --- Agent Matrix ---
MATRIX_HOMESERVER=https://matrix.microserver.network
MATRIX_USER=@microserverNN:microserver.network                    # NN= 01, 02 , 03 , 04 ...Call Sign from microserver.network
MATRIX_TOKEN=syt_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX            # minted from matrix.microserver.network (admin API)
